* {
    box-sizing: border-box;
}

.item-table {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 2px;
    background: #FAAB1B;
    font-family: 'Oswald', sans-serif;
    color: #600000;
    border-color: #600000;
    text-align: center;
}

.item-table caption {
    padding: 7px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: #FAAB1B;
    background: #600000;
}